
{{ define "main" }}
<div class="note-wrapper">
	<iframe id="mySidenav" name="split" class="sidenav" src=""></iframe>
	<div id="main" class="container wrapper post cursor-pointer block zettel p-10 shadow-lg hover:shadow-lg relative bg-white md:mt-10 sm:mt-4 text-gray-700 max-w-xl mx-auto">



		{{ partialCached "navbar.html" . }}

		<h3 class="text-xl hover:text-indigo-600">{{ .File.BaseFileName }}</h3>

		<article class="content" style="margin-top:2rem">
			{{ partial "content.html" . }}
		</article>

	</div>

{{ partial "search.html" . }}
{{ partial "scripts.html" }}

<backlinks class="block mt-2 text-sm p-4 text-gray-600 max-w-xl mx-auto"> {{ partial "backlinks.html" . }} </backlinks>


</div>
{{ end }}
