
{{ define "main" }}
<div class="note-wrapper">
	<iframe id="mySidenav" name="split" class="sidenav" src=""></iframe>
	<div id="main" class="container wrapper post cursor-pointer block zettel p-10 shadow-lg hover:shadow-lg relative bg-white md:mt-10 sm:mt-4 text-gray-700 max-w-xl mx-auto">



		{{ partialCached "navbar.html" . }}

		<h3 class="text-xl hover:text-indigo-600">{{ .Title }}</h3>

		<zettel-id class="block font-bold text-xs text-gray-500 tracking-wider hover:text-gray-700 inline-block rounded-md">{{ .File.BaseFileName }}</zettel-id>
		{{ if .Site.Params.todofeat }}
    {{ if .Params.deadline }}
    <div class="block font-bold text-s text-gray-400 tracking-wider hover:text-gray-400 inline-block rounded-md">
      {{ $deadline := (time .Params.deadline)}}
      Deadline: {{ $deadline.Day }} de {{ if $.Site.Data.meses }}{{index $.Site.Data.meses (printf "%d" $deadline.Month)}} {{ else }} {{ $deadline.Month }} {{ end }} del {{ $deadline.Year }} {{ if $deadline.Hour }} a las {{ $deadline.Format "15:04" }} {{ end }}
    </div>
    {{ end }}

    {{ if .Params.priority }}
    <div class="block font-bold text-s text-gray-400 tracking-wider hover:text-gray-400 inline-block rounded-md">
      {{ if $.Site.Data.priorityEmojis }}{{ index $.Site.Data.priorityEmojis (printf "%d" .Params.priority) }} {{ end }}
      -
      {{ if .Params.priority}} {{ if $.Site.Data.priority }}{{ index $.Site.Data.priority (printf "%d" .Params.priority) }} {{ end }} {{ end }}
    </div>
    {{ end }}

    {{ if .Params.status}}
    <div class="block font-bold text-s text-gray-400 tracking-wider hover:text-gray-400 inline-block rounded-md">
      {{ if $.Site.Data.statusEmojis }}{{ index $.Site.Data.statusEmojis (printf "%d" .Params.status) }} {{ end }}
      -
      {{ if .Params.status}} {{ if $.Site.Data.status }}{{ index $.Site.Data.status (printf "%d" .Params.status) }} {{ end }} {{ end }}
    </div>
    {{ end }}
		{{ end }}



		<article class="content" style="margin-top:2rem">
			{{ partial "content.html" . }}
		</article>

	</div>

{{ partial "search.html" . }}
{{ partial "scripts.html" }}

<backlinks class="block mt-2 text-sm p-4 text-gray-600 max-w-xl mx-auto"> {{ partial "backlinks.html" . }} </backlinks>


</div>
{{ end }}
