/* @override
	http://192.168.0.24:1313/css/style.css
	http://192.168.0.25:1313/css/style.css
	 */




@import "variables";
@import "bootstrap.min";
@import "utilities/media-queries";
@import "utilities/visibility";
@import "utilities/normalize";
@import "utilities/reset";

%table-cell {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    text-align: left;
}

table {
  margin: $margin-y auto;
  width: 100%;
  & tr {
    background-color: white;
    border: 1px solid #cccccc;
    & td {
      @extend %table-cell;
    }
    & th {
      @extend %table-cell;
      font-weight: bold;
    }
    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
}

.note-wrapper {
    max-width: 55rem !important;
}


.font-mono {
    font-family: Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
}

.text-xs {
    font-size: $text-sm;
}

.font-bold {
    font-weight: 700;
}

.text-green-700 {
    --text-opacity: 1;
    color: #2f855a;
    color: rgba(47,133,90,var(--text-opacity));
    background: #FFFFFF;
}

.text-green-700-backlinks {
    --text-opacity: 1;
    color: #2f855a;
    color: rgba(47,133,90,var(--text-opacity));
}

article a {
    text-decoration: underline;
    color: green;
}

article a:hover {
    background: #c6f6d5;
    border-radius: .25rem;
}

.hover\:bg-green-100:hover {
    --bg-opacity: 1;
    background-color: #f0fff4;
    background-color: rgba(240,255,244,var(--bg-opacity));
}

.hover\:bg-green-100-asdf:hover {
    --bg-opacity: 1;
    background-color: #fff2db !important;
    background-color: rgba(240,255,244,var(--bg-opacity));
}

.p-10 {
    padding: 2.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-gray-500 {
    --text-opacity: 1;
    color: #a0aec0;
    color: rgba(160,174,192,var(--text-opacity));
}

.graphdata {
  stroke : none !important;
}

/* @group Base */
html {
	font-size: $font-size;
	line-height: 1.6em;
	-webkit-text-size-adjust: 100%
}

body {
	background: $bg;
	color: $text-color;
	text-rendering: optimizeLegibility;
	font-family: $font-family;
	font-weight: $font-weight;
	-webkit-font-smoothing: antialiased;
}

a {
	color: $a-color;
	text-decoration: $a-text-decoration;
	display: $a-display;
}

a:hover {
	color: rgba(160,174,192,var(--text-opacity));
	text-decoration: underline;
	display: initial;
}

svg, a svg {
	fill: $text-color;
	color: $text-color;
	stroke: $text-color;
}
hr {
	height: 1px;
	border: 0;
	background-color: $hr-bg;
	margin: -1px auto 1.57143em auto
}

b, strong {
	font-family: $font-bold;
	font-weight: bold;
}

i, em {
	font-family: $font-italic;
	font-style: italic;
}

s, del {
	color: #878787
}

blockquote {
	display: block;
	margin-bottom: $d4;
	font-style: italic;
	font-size: $text-lg;
	font-weight: lighter;
	//padding: $d3;
	border-left: $blockquote-border-size solid $blockquote-left-border-color;
}
blockquote p {
	padding: $d4;
}

::-moz-selection { /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: $selected-text-color;
  background: $selected-text-bg;
}

/* @end */

/* @group Lists */
ul {
	//list-style: none;
}
ol {
	list-style: none;
}

ul, ol {
	margin-bottom: 1rem;
}

ol {
	counter-reset: ol_counter
}

ol ol, ul ul {
	margin-left: 1.25714em;
	margin-bottom: 0px;
}

ol li {
	position: relative;
	//text-indent: -1.45em
}

ol li:before {
	content: counter(ol_counter) ".";
	counter-increment: ol_counter;
	color: $ol-color;
	text-align: right;
	display: inline-block;
	min-width: 1em;
	margin-right: 0.5em;
	font-size: 0.75rem;
	font-weight: bold;
	position: absolute;
	left: -1.25rem;
	@include to(m) {
		left: -$d3;
	}
}

ul li {
	position: relative;
	/*text-indent: -0.35em*/

}

ul li:before {
	position: absolute;
	//content: "\2022";
	//content: "\26AC";
	color: $ul-color;
	width: 1em;
	display: inline-block;
	margin-left: -$d5;
}



/* @end */

/* @group Code */

code, pre {
	font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: $text-sm !important;
}
pre {
	-moz-tab-size:    4; /* Firefox 4+ */
	-o-tab-size:      4; /* Opera 11.5 & 12.1 only */
	tab-size:         4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
	padding: 0.75rem;
	margin-bottom: 1rem !important;
	border-radius: $pre-border-radius;
	font-size: $pre-font-size;
}


// Inline-blocks

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code, li code, p code {
	background: $inline-code-bg;
	//border: 1px solid #90cdf4;
	border-radius: 0.25rem;
	font-family: monospace;
	color: $inline-code-color;
	font-size: $text-base !important;
	padding: 2px 0.25rem;
}


/* @end */

/* @group Typography */
h1,h2,h3,h4,h5,h6 {
	font-family: $headings-font;
	color:  $headings-color;
	margin-top: $headings-mt;
	margin-bottom: $headings-mb;
	font-weight: bold;

}
h1 {

	font-size: 1.75rem;
	line-height: 1.3em;

}

h2 {

	font-size: 1.5em;
	line-height: 1.3em;

}

h3 {

	font-size: 1.25em;
	line-height: 1em;

}

p {
	margin-bottom: $p-mb;
	line-height: $p-lh;
	hyphens: auto
}

/* @end */




/* @group Components */

@import "components/syntax";
@import "components/clipboard";
@import "components/zettel-links";
@import "components/navbar";
@import "components/footnotes";
@import "components/zoomimg";
@import "components/sidenav";
@import "components/torefactor";
@import "components/search";
@import "components/backlinks";


@mixin stickyFooter {
  @at-root {
    body {
      display        : flex;
      flex-direction : column;
      min-height     : 100vh;
    }
 }
}

.main-footer {
	text-align: center;
	//background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
	//@include stickyFooter();
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* @end */

/* @group Utilities */

.hidden {
	display: none;
}

/* MATLAB LIVE SCRIPT STYLES */

.rtcContent { padding: 30px; } .S0 { margin: 3px 10px 5px 4px; padding: 0px; line-height: 20px; min-height: 0px; white-space: pre-wrap; color: rgb(60, 60, 60); font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 20px; font-weight: 700; text-align: left;  }
.S1 { margin: 2px 10px 9px 4px; padding: 0px; line-height: 21px; min-height: 0px; white-space: pre-wrap; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 14px; font-weight: 400; text-align: left;  }
.CodeBlock { background-color: #F7F7F7; margin: 10px 0 10px 0;}
.S2 { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 1px solid rgb(233, 233, 233); border-bottom: 0px none rgb(0, 0, 0); border-radius: 4px 4px 0px 0px; padding: 6px 45px 0px 13px; line-height: 17.234px; min-height: 18px; white-space: nowrap; color: rgb(0, 0, 0); font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px;  }
.S3 { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 0px none rgb(0, 0, 0); border-bottom: 0px none rgb(0, 0, 0); border-radius: 0px; padding: 0px 45px 0px 13px; line-height: 17.234px; min-height: 18px; white-space: nowrap; color: rgb(0, 0, 0); font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px;  }
.S4 { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 0px none rgb(0, 0, 0); border-bottom: 1px solid rgb(233, 233, 233); border-radius: 0px 0px 4px 4px; padding: 0px 45px 4px 13px; line-height: 17.234px; min-height: 18px; white-space: nowrap; color: rgb(0, 0, 0); font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px;  }
.S5 { margin: 10px 10px 9px 4px; padding: 0px; line-height: 21px; min-height: 0px; white-space: pre-wrap; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; font-style: normal; font-size: 14px; font-weight: 400; text-align: left;  }
.S6 { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 0px none rgb(0, 0, 0); border-bottom: 1px solid rgb(233, 233, 233); border-radius: 0px; padding: 0px 45px 4px 13px; line-height: 17.234px; min-height: 18px; white-space: nowrap; color: rgb(0, 0, 0); font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px;  }
.S7 { color: rgb(64, 64, 64); padding: 10px 0px 6px 17px; background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box; font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px; overflow-x: hidden; line-height: 17.234px;  }
.variableValue { width: 100% !important; }
.embeddedOutputsMatrixElement,.eoOutputWrapper .matrixElement {    min-height: 18px;    box-sizing: border-box;}
.embeddedOutputsMatrixElement .matrixElement,.eoOutputWrapper  .matrixElement,.rtcDataTipElement .matrixElement {    position: relative;}
.matrixElement .variableValue,.rtcDataTipElement .matrixElement .variableValue {    white-space: pre;    display: inline-block;    vertical-align: top;    overflow: hidden;}
.embeddedOutputsMatrixElement.inlineElement {}
.embeddedOutputsMatrixElement.inlineElement .topHeaderWrapper {    display: none;}
.embeddedOutputsMatrixElement.inlineElement .veTable .body {    padding-top: 0 !important;    max-height: 100px;}
.inlineElement .matrixElement {    max-height: 300px;}
.embeddedOutputsMatrixElement.rightPaneElement {}
.rightPaneElement .matrixElement,.rtcDataTipElement .matrixElement {    overflow: hidden;    padding-left: 9px;}
.rightPaneElement .matrixElement {    margin-bottom: -1px;}
.embeddedOutputsMatrixElement .matrixElement .valueContainer,.eoOutputWrapper .matrixElement .valueContainer,.rtcDataTipElement .matrixElement .valueContainer {    white-space: nowrap;    margin-bottom: 3px;}
.embeddedOutputsMatrixElement .matrixElement .valueContainer .horizontalEllipsis.hide,.embeddedOutputsMatrixElement .matrixElement .verticalEllipsis.hide,.eoOutputWrapper .matrixElement .valueContainer .horizontalEllipsis.hide,.eoOutputWrapper .matrixElement .verticalEllipsis.hide,.rtcDataTipElement .matrixElement .valueContainer .horizontalEllipsis.hide,.rtcDataTipElement .matrixElement .verticalEllipsis.hide {    display: none;}
.embeddedOutputsVariableMatrixElement .matrixElement .valueContainer.hideEllipses .verticalEllipsis, .embeddedOutputsVariableMatrixElement .matrixElement .valueContainer.hideEllipses .horizontalEllipsis {    display:none;}
.embeddedOutputsMatrixElement .matrixElement .valueContainer .horizontalEllipsis,.eoOutputWrapper .matrixElement .valueContainer .horizontalEllipsis {    margin-bottom: -3px;}
.eoOutputWrapper .embeddedOutputsVariableMatrixElement .matrixElement .valueContainer {    cursor: default !important;}
.embeddedOutputsVariableElement {    white-space: pre-wrap;    word-wrap: break-word;    min-height: 18px;    max-height: 250px;    overflow: auto;}
.variableElement {}
.embeddedOutputsVariableElement.inlineElement {}
.inlineElement .variableElement {}
.embeddedOutputsVariableElement.rightPaneElement {    min-height: 16px;}
.rightPaneElement .variableElement {    padding-top: 2px;    padding-left: 9px;}
.variableNameElement {    margin-bottom: 3px;    display: inline-block;}
/* * Ellipses as base64 for HTML export. */.matrixElement .horizontalEllipsis,.rtcDataTipElement .matrixElement .horizontalEllipsis {    display: inline-block;    margin-top: 3px;    /* base64 encoded version of images-liveeditor/HEllipsis.png */    width: 30px;    height: 12px;    background-repeat: no-repeat;    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAJCAYAAADO1CeCAAAAJUlEQVR42mP4//8/A70xw0i29BUDFPxnAEtTW37wWDqakIa4pQDvOOG89lHX2gAAAABJRU5ErkJggg==");}
.matrixElement .verticalEllipsis,.textElement .verticalEllipsis,.rtcDataTipElement .matrixElement .verticalEllipsis,.rtcDataTipElement .textElement .verticalEllipsis {    margin-left: 35px;    /* base64 encoded version of images-liveeditor/VEllipsis.png */    width: 12px;    height: 30px;    background-repeat: no-repeat;    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAZCAYAAAAIcL+IAAAALklEQVR42mP4//8/AzGYgWyFMECMwv8QddRS+P//KyimlmcGUOFoOI6GI/UVAgDnd8Dd4+NCwgAAAABJRU5ErkJggg==");}
.S8 { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 1px solid rgb(233, 233, 233); border-bottom: 0px none rgb(0, 0, 0); border-radius: 0px; padding: 6px 45px 0px 13px; line-height: 17.234px; min-height: 18px; white-space: nowrap; color: rgb(0, 0, 0); font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px;  }
.S9 { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 1px solid rgb(233, 233, 233); border-bottom: 1px solid rgb(233, 233, 233); border-radius: 0px; padding: 6px 45px 4px 13px; line-height: 17.234px; min-height: 18px; white-space: nowrap; color: rgb(0, 0, 0); font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 14px;  }
/* Styling that is common to warnings and errors is in diagnosticOutput.css */.embeddedOutputsErrorElement {    min-height: 18px;    max-height: 550px;}
.embeddedOutputsErrorElement .diagnosticMessage-errorType {    overflow: auto;}
.embeddedOutputsErrorElement.inlineElement {}
.embeddedOutputsErrorElement.rightPaneElement {}
/* Styling that is common to warnings and errors is in diagnosticOutput.css */.embeddedOutputsWarningElement {    min-height: 18px;    max-height: 550px;}
.embeddedOutputsWarningElement .diagnosticMessage-warningType {    overflow: auto;}
.embeddedOutputsWarningElement.inlineElement {}
.embeddedOutputsWarningElement.rightPaneElement {}
/* Copyright 2015-2019 The MathWorks, Inc. *//* In this file, styles are not scoped to rtcContainer since they could be in the Dojo Tooltip */.diagnosticMessage-wrapper {    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;    font-size: 12px;}
.diagnosticMessage-wrapper.diagnosticMessage-warningType {    color: rgb(255,100,0);}
.diagnosticMessage-wrapper.diagnosticMessage-warningType a {    color: rgb(255,100,0);    text-decoration: underline;}
.diagnosticMessage-wrapper.diagnosticMessage-errorType {    color: rgb(230,0,0);}
.diagnosticMessage-wrapper.diagnosticMessage-errorType a {    color: rgb(230,0,0);    text-decoration: underline;}
.diagnosticMessage-wrapper .diagnosticMessage-messagePart,.diagnosticMessage-wrapper .diagnosticMessage-causePart {    white-space: pre-wrap;}
.diagnosticMessage-wrapper .diagnosticMessage-stackPart {    white-space: pre;}
.embeddedOutputsTextElement,.embeddedOutputsVariableStringElement {    white-space: pre;    word-wrap:  initial;    min-height: 18px;    max-height: 550px;}
.embeddedOutputsTextElement .textElement,.embeddedOutputsVariableStringElement .textElement {    overflow: auto;}
.textElement,.rtcDataTipElement .textElement {    padding-top: 3px;}
.embeddedOutputsTextElement.inlineElement,.embeddedOutputsVariableStringElement.inlineElement {}
.inlineElement .textElement {}
.embeddedOutputsTextElement.rightPaneElement,.embeddedOutputsVariableStringElement.rightPaneElement {    min-height: 16px;}
.rightPaneElement .textElement {    padding-top: 2px;    padding-left: 9px;}
.scrollableOutput {width: 100% !important;}
/* END MATLAB LIVE SCRIPT STYLES */

/* @end */
