{{ $bracket1 := "\\[\\[" -}}
{{ $bracket2 := "\\]\\]" -}}
{
  "edges":[
    {{ range .Site.Pages -}}
    {{ $filename := .File.BaseFileName -}}
    {{ $path :=  printf "%s%s%s" $bracket1 $filename $bracket2 -}}
    {{ range .Site.Pages -}}
    {{ if findRE $path .Content -}}
    {
      "source" : "{{ $filename -}}" ,
      "target" : "{{ .File.BaseFileName -}}",
    },
    {{ end -}}
    {{ end -}}
    {{ end -}}

    {{ if .Site.Params.todofeat }}
    {{ range where .Site.Pages "Params.layout" "todoindex"}}
      {{ $todoindex := .File.BaseFileName }}
      {{ range where (where (where .Site.Pages "Params.layout" "todo") "Params.status" "!=" 3) "Params.status" "!=" 5 }}
        {
          "source" : "{{ $todoindex }}" ,
          "target" : "{{ .File.BaseFileName -}}",
        },
      {{ end }}
    {{ end }}
    {{ end }}


  ],
  "nodes":[
    {{ range .Site.Pages -}}
    {{ if ne .File.BaseFileName "" -}}
      {
      "id": "{{ .File.BaseFileName }}",
      "path": "{{ .RelPermalink }}",
      "label": "{{ .Title }}"
    },
    {{ end -}}
    {{ end -}}
  ]
}
