<!-- Función regex que remplaza los wikilinks por links cliclables -->

{{ $parsed := .Content }}
{{ $matches := findRE "\\[\\[([^\\]]+)\\]\\]" .Content }}
{{ range $matches }}
  {{ $match := . }} <!-- Current match -->
  {{ $fixedURL := . | anchorize }}
  {{ $replacement := printf "<a title=\"split view\" class=\"zettel-split\" href=\"%s.html\" target=\"split\"></a><a title=\"open\" class=\"zettel-link text-gray-500 font-bold hover:bg-green-100\" href=\"%s.html\"><span class=\"text-green-700\">%s</span></a>" $fixedURL $fixedURL $match }}

  {{ $parsed = replace $parsed $match $replacement | safeHTML }}
{{ end }}

{{ $parsed }}
